.NavBar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -2vh;
  margin-right: 2vw;
}
.NavBar ul li {
  /* margin: 5px; */
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  color: rgb(64, 97, 187);
  cursor: pointer;
}
a {
  margin-left: 2vw;
  display: block;
  width: auto;
  font-size: x-large;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav .brand-logo.center {
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.searchBarContainer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(27, 67, 179);
  margin-top: 1rem;
}
.searchBarContainer img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}
.searchBarContainer input,
input[type="text"]:not(.browser-default) {
  outline: none;
  border: none;
  background-color: white;
  color: white;
  margin: 0px 50px;
}
@media only screen and (max-width: 650px) {
  nav .brand-logo.center {
    top: 0%;
  }
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
