.NavBar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -2vh;
  margin-right: 2vw;
}
.NavBar ul li {
  /* margin: 5px; */
  height: 50px;
  background-color: rgb(27, 67, 179);
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

a {
  margin-left: 2vw;
  display: block;
  width: auto;
  font-size: x-large;
  color: blue;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav .brand-logo.center {
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.searchBarContainer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(27, 67, 179);
  margin-top: 1rem;
}
.searchBarContainer img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}
.searchBarContainer input,
.searchBarInput {
  outline: none;
  border: none;
  background-color: white;
  color: white;
  margin: 0px 50px;
}
@media only screen and (max-width: 650px) {
  nav .brand-logo.center {
    top: 0%;
  }
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.websiteLogo {
  height: 70px;
  width: 150px;
}

.websiteTitle {
  color: rgba(34, 34, 184, 0.836);
  font-weight: 600;
  font-size: 40px;
  font-family: "Fredoka One", cursive;
}
