.bookForm {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 0%;
  background-color: white;
}
.bookForm header {
  background-color: rgb(19, 65, 151);
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: whitesmoke;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bookForm header button img {
  width: 100%;
  height: 100%;
}
.bookForm div {
  /* background-color: aquamarine; */
  top: 7rem;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.bookForm .bookFormBtn {
  height: 5rem;
  width: 400px;
  background-color: rgb(20, 202, 44);
  margin-bottom: 10px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.bookForm_inputs input,
input[type="text"]:not(.browser-default) {
  color: black;
}
.wardType {
  display: initial;
}
